@import "../../styles/variables";

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;

  .modal {
    position: relative;
    top: 100px;
    left: calc(50% - #{$modal_default_width} / 2);
    width: $modal_default_width;
    min-width: $modal_min_width;
    min-height: $modal_min_height;
    //margin: auto;
    box-shadow: 4px 4px 12px 0 #00000066;
    overflow: hidden;
    border-radius: 5px;

    .modal-header, .modal-footer {
      position: relative;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      color: white;
      //width: 100%;
      height: $modal_header-height;
      background-color: #61dafb;
    }

    .modal-header {
      cursor: move;

      .title {
        text-align: left;
        width: 100%;
      }

      .wrapper-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;

        a {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          margin: 0 2.5px;
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }

          &:last-child:hover {
            background-color: rgba(255, 0, 0, 1);
          }
        }

        .minimize-btn {
          i {
            vertical-align: super;
            font-weight: 100;
            font-size: 0.9rem;
          }
        }

        .expand-btn {
          i {
            vertical-align: -webkit-baseline-middle;
          }
        }

        .close-btn {
          i {
            vertical-align: -webkit-baseline-middle;
          }
        }
      }
    }

    .modal-footer {
      justify-content: flex-end;

      button {
        display: block;
        width: 70px;
        height: 25px;
        padding: 0;
        border-radius: 3px;
        cursor: pointer;
        background-color: #FFEACF;
        box-shadow: 1px 1px 2px 0px #00000066;

        &:hover {
          background-color: #ffd59f;
        }

        &:nth-child(odd) {
          margin-right: 10px;
        }

        outline: none;
        border: none;
      }
    }

    .modal-body {
      position: relative;
      height: calc(100% - 2 * #{$modal_header-height});
      width: 100%;
      text-align: justify;
      line-height: 30px;
      background-color: white;
      padding: 8px 16px;
      overflow: auto;
    }

    .side {
      position: absolute;
      display: block;
    }

    .top {
      top: 0;
      left: 5px;
      right: 5px;
      height: $modal_width_side;
      cursor: n-resize;
    }

    .bottom {
      bottom: 0;
      left: 5px;
      right: 5px;
      height: $modal_width_side;
      cursor: n-resize;
    }

    .left {
      top: 5px;
      bottom: 5px;
      left: 0;
      width: $modal_width_side;
      cursor: e-resize;
    }

    .right {
      top: 5px;
      bottom: 5px;
      right: 0;
      width: $modal_width_side;
      cursor: e-resize;
    }

    .top-left {
      top: 0;
      left: 0;
      width: 5px;
      height: 5px;
      cursor: nw-resize;
    }

    .top-right {
      top: 0;
      right: 0;
      width: 5px;
      height: 5px;
      cursor: ne-resize;
    }

    .bottom-left {
      bottom: 0;
      left: 0;
      width: 5px;
      height: 5px;
      cursor: sw-resize;
    }

    .bottom-right {
      bottom: 0;
      right: 0;
      width: 5px;
      height: 5px;
      cursor: se-resize;
    }
  }
}