body {
  text-align: center;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color: #3f4850;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.app {
  background-color: white;
  &.dark {
    background-color: black!important;
  }
}
* {
  box-sizing: border-box;
}

.app {


}
.btnToTop {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 60px;
  background-color: #00000042;
  margin: 0;
  padding: 0;
  border-width: 0;
  &::after {
    display: inline-block;
    content: '';
    width: 50%;
    height: 50%;
    position: relative;
    top: 8px;
    left: 0;
    background-color: transparent;
    transform: rotate(45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
  }
  &:hover {
    cursor: pointer;
    background-color: #00000080;
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}