* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color: #3f4850;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.app {
}

//$theme =  light or =  dark
@mixin theme($theme : 'light') {
  background-color: if($theme == 'light', white, black);

  #myHeader {
    background-color: if($theme == 'light', black, white);
    color: if($theme == 'light', white, black);
  }

  #myBanner {
    color: if($theme == 'light', black, white);
  }

  #mySidenav {
    background-color: if($theme == 'light', black, white);
    color: if($theme == 'light', white, black);

    a:hover {
      color: if($theme == 'light', black, white);
      background-color: if($theme == 'light', white, black);
    }
  }
  #myBtnToTop {
    background-color: if($theme == 'light', #00000042, #ffffff1c);
  }
  #myMenuProfileWrapper {
    box-shadow: if($theme == 'light', '3px 3px 5px 0 #9c9c9cc7, -1px -1px 5px #d2d2d2', none);
  }
  #myCurrentUser {
    .svg-icon {
      path {
        fill: if($theme == 'light', white, black);
      }
    }
  }
}

.app.light {
  @include theme('light')

}

.app.dark {
  @include theme('dark')
}

.btnToTop {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 60px;
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: none;

  &::after {
    display: inline-block;
    content: '';
    width: 50%;
    height: 50%;
    position: relative;
    top: 8px;
    left: 0;
    background-color: transparent;
    transform: rotate(45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
  }

  &:hover {
    cursor: pointer;
    background-color: #00000080;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.enable {
  opacity: 1;
}

.disable {
  opacity: 0;
}