.gallery {
  ul {
    display: grid;
    list-style-type: none;
    grid-template-columns:auto auto auto auto;
    justify-content: center;
    grid-gap: 30px;
    padding: 0;
    //overflow: hidden;
    //columns: 4;
    li {
      width: 220px;
      height: 165px;
      overflow: hidden;
      img {
        width: 100%;
        transform: scale(1.25);
        transition: transform 1.25s;
      }
    }
    li:hover {
      img {
        transform: scale(1.65);
      }
    }
  }
}
@media only screen and (max-width: 1060px) {
  .gallery {
    ul {
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .gallery {
    ul {
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .gallery {
    ul {
      grid-template-columns: auto;
      grid-gap: 5px;
    }
  }
}